.online-users li
{   
    display: flex;
    justify-content: space-between;
    /* display: flex; */
    /* justify-content: start; */
    /* padding-left: 11rem; */
    background: wheat;
    padding: .5rem 2rem;
    /* border-bottom: 2px solid black; */
    border-top: 2px solid black;

}
.online-users
{
    padding: 0;
    height: 70%;
    overflow-y: scroll;
}
.round
{
    border-radius: 50%;
    background: white;
    width: 2rem;
    height: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}